/*****************************************************************
KICC IT지원본부 전산운영팀
Author : 최정우 (jwoochoi@kicc.co.kr)
Version : 1.0
*****************************************************************/


/***** Reset *****/
body {margin:0px; padding:0px; font-size:0.875em; font-family:"돋움",Dotum,Helvetica,AppleGothic,Sans-serif; background-color:#ededed;}
p, table, th, tr, td, a, a img, input, p, section, article, header, footer, nav, aside {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-weight:normal; line-height:0em;}
img {border:0; border-style:none; margin:0; padding:0;}/*이미지링크선 표시 없음*/
caption {visibility:hidden; height:0px; font-size:0em; line-height:0px; width:0em; overflow:hidden; text-align:left;}
fieldset{margin:0; padding:0; border:none;}
legend {visibility:hidden; height:0px; font-size:0em; line-height:0em; width:0px; overflow:hidden;}
select {font-size:1em; color:#444; height:25px; letter-spacing:-1px;}
hr {display:none;}
address {font-size:0.9em; font-style:normal; clear:both;}
table {border-collapse:collapse;}
textarea {width:100%; padding:5px 0 0 0; border:1px solid #acacac; padding:5px; color:#444; background: #fff;}
ul, li, li, dl, dt, dd, ol {list-style:none; margin:0; padding:0;}

/***** aline *****/
.float_l {float:left;}
.float_r {float:right;}
.clear_l {clear:left;}
.clear_b {clear:both;}
.top {vertical-align:top;}
.middle {vertical-align:middle;}
.bottom {vertical-align:bottom;}
.center {text-align:center;}
.vtb {vertical-align:text-bottom;}
.left {text-align:left;}
.right {text-align:right;}
.display_n {display:none;}
.display_in {display:inline;}
.display_bl {display:block;}
.display_inb {display:inline-block; display:inline; *zoom:1;}
.script_ndipy {position:absolute; height:0; width:0; overflow:hidden; width:100%; left:378px;top: -3px;}
.f0_l0 {font-size:0px; line-height:0px;}
.h_blind{position:absolute; display:block; overflow:hidden; top:0; left:0; width:0; height:0; margin:0; padding:0; visibility:hidden; font-size:0; line-height:0;}
.overflow_h {overflow:hidden; zoom:1;}
.justify {text-align:justify;}
.zI10000 {position:relative; z-index:10;}
.h_blind {visibility:hidden; height:0px; font-size:0em; line-height:0em; width:0px; overflow:hidden;}
.pr {positoin:relative;}


/***** Input *****/
.inputBox {width:99.8%; font-size:1.1em; border:1px solid #d4d4d4; height:18px; color:#444; padding:4px 0 3px 10px; letter-spacing:-1px;}/*아이폰 인풋상자 상단 그림자 관련 css*/
.inputBox2 {width:99.8%; font-size:1.1em; background-color:#dbdbdb; border:1px solid #dbdbdb; height:21px; color:#444; padding:4px 0 0 10px; letter-spacing:0px;}/*아이폰 인풋상자 상단 그림자 관련 -webkit-appearance:none; css*/
.inputBox3 {width:99.8%; font-size:1.1em; border:1px solid #dbdbdb;  background-color:#dbdbdb; height:18px; color:#444; padding:4px 0 3px 10px;}/*아이폰 인풋상자 상단 그림자 관련 -webkit-appearance:none; css*/
.inputBox4 {width:99.8%; font-size:1.1em; border:1px solid #557ed0;  background-color:#557ed0; height:18px; color:#fff; padding:4px 10px 3px 10px; -webkit-appearance:none;}/*아이폰 인풋상자 상단 그림자 관련 css*/


/***** link *****/
a:link, a:visited {color:#444; text-decoration:none;}
a:active, a:hover {color:#444; text-decoration:none;}


/**** 에디터 초기화 *****/
/*
.originalCss {font-size:1.2em; color:#111;}
.originalCss h1{font-size: 2em; margin: .67em 0; font-weight:bold;}
.originalCss h2{font-size: 1.5em; margin: .83em 0; font-weight:bold; }
.originalCss h3{font-size: 1.17em; margin: 1em 0 ; font-weight:bold;}
.originalCss h4 {margin: 1.33em 0; font-weight:bold; }
.originalCss p, .originalCss ul, .originalCss ol, .originalCss dl, .originalCss fieldset, .originalCss form {margin: 1.33em 0; }
.originalCss h5 {font-size: .83em; line-height: 1.17em; margin: 1.67em 0; font-weight:bold; }
.originalCss h6 {font-size: .67em; margin: 2.33em 0; font-weight:bold; }
.originalCss hr {display:block;}
.originalCss address {font-style:italic; color:#111;}
.originalCss ol, .originalCss ul, .originalCss dd{margin-left:40px; }
.originalCss ol {list-style-type:decimal;}
.originalCss ul {list-style-type:disc;}
.originalCss ul ul {list-style-type:circle;}
.originalCss ul ul ul {list-style-type:square;}
.originalCss ul ul, .originalCss ol ul, .originalCss ul ol, .originalCss ol ol{margin-top:0; margin-bottom:0; } 
.originalCss a:link, .originalCss a:visited {color:#800080; text-decoration:underline;}
.originalCss a:active, .originalCss a:hover {color:#800080; text-decoration:underline;}

*/

